@import 'tailwindcss';
@import '@immich/ui/theme/default.css';
@source '../node_modules/@immich/ui';

@custom-variant dark (&:where(.dark, .dark *):not(.light));

@theme inline {
  --color-immich-primary: rgb(var(--immich-primary));

  --color-immich-dark-primary: rgb(var(--immich-dark-primary));
}

@theme {
  --font-immich-title: Snowburst One, cursive;
  --font-immich-mono: Overpass Mono, monospace;

  --spacing-18: 4.5rem;

  --breakpoint-tall: 800px;
}

@layer base {
  :root {
    /* light */
    --immich-primary: 66 80 175;

    /* dark */
    --immich-dark-primary: 172 203 250;
  }
}

:root.dark,
body.dark {
  color-scheme: dark;
}

:root:not(.dark),
body:not(.dark) {
  color-scheme: light;
}

html {
  height: 100%;
  width: 100%;
  font-size: 17px;
}

body {
  margin: 0;
}

/* View Hierarchy Colors */
.bg-level-1 {
  @apply bg-gray-100 dark:bg-gray-800;
}

.bg-level-2 {
  @apply bg-gray-200 dark:bg-gray-600;
}

.bg-level-3 {
  @apply bg-gray-300 dark:bg-gray-500;
}

.bg-level-4 {
  @apply bg-gray-400 dark:bg-gray-400;
}

/* Accessibility Coloring */

html.colorblind-protanopia {
  filter: url(#protanopia);
}
html.colorblind-deuteranopia {
  filter: url(#deuteranopia);
}
html.colorblind-tritanopia {
  filter: url(#tritanopia);
}
html.colorblind-grayscale {
  filter: grayscale(100%);
}
