name: Build applications

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install

      - name: Build dependencies
        run: pnpm build

      - name: TypeScript Compile
        run: pnpm tsc
