name: Deploy applications

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          lfs: true

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install

      - name: Create .env
        run: touch .env

      - name: Deploy to Cloudflare Workers
        run: just deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
